@media (min-width: 920px) {
  main {
    overflow: hidden;
    min-height: 100vh;
  }
  .nav__contact {
    display: block;
  }
  .overlay {
    visibility: unset;
    display: none;
  }
  .overlay.open {
    visibility: unset;
    display: none;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__links {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .nav__link {
    padding: 1.8rem 0;
    position: relative;
    color: $grayish-blue;
    &::after {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background: linear-gradient(to left, $lime-green, $bright-cyan);
      height: 5px;
      width: 100%;
      z-index: 11;
      transition: opacity 250ms ease, color 250ms ease;
    }
    &:hover {
      color: $dark-blue;
      &::after {
        opacity: 1;
      }
    }
  }
  .nav__menu {
    position: unset;
    visibility: unset;
    transform: unset;
    opacity: unset;
    padding: 0;
    width: unset;
    border-radius: unset;
    transition: none;
  }
  .nav__item {
    padding: 1.8rem 1rem;
  }
  .nav__item + .nav__item {
    margin-left: 1%;
  }

  .home__bg__img {
    display: block;
    position: relative;
  }
  .home__mockups {
    max-width: 640px;
    top: -180px;
    right: -180px;
  }
  .home__bg--mobile {
    display: none;
  }
  .home__bg--desktop {
    display: block;
    position: absolute;
    top: -500px;
    right: -700px;
  }
  .home__wrapper {
    text-align: left;
    max-width: 375px;
    margin: 5rem 0;
  }
  #about {
    margin-top: 150px;
  }
  .about__intro {
    max-width: 620px;
  }
  .about__wrapper,
  .articles__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .about__card {
    text-align: left;
    width: 23%;
  }
  .article {
    width: 24%;
  }

  #footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__outer__cluster {
    display: flex;
    align-items: flex-start;
  }
  .socials {
    margin-top: 4rem;
  }
  .footer__links {
    text-align: left;
    margin-right: 4rem;
  }
  .footer__nav {
    display: flex;
    text-align: left;
    margin-left: 4rem;
  }
  .extra {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .home__bg--desktop {
    right: -600px;
  }
  .home__mockups {
    right: -150px;
  }
}

@media (min-width: 1280px) {
  .home__bg--desktop {
    right: -350px;
  }
  .home__mockups {
    right: -120px;
  }
}
